# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
venv/

# Environment
.env

# Data
data/raw/*.json
qdrant_data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
.next/
out/

# Misc
*.log
*.sqlite
*.db
